<!--main-content-->
<script type="text/javascript">
    if (typeof app === 'undefined') {
        document.location.href = "index.html";
    }
</script>
<style>
    th {
        white-space: nowrap;
    }
</style>
<div ng-controller="tableauDetail as ctrl" ng-show="ctrl.canView || ctrl.canEdit">

    <div class="title">Monitor Tableau Detail </div>
    <ol class="breadcrumb margin0">
        <li><i class="fa-home"></i> <a href="" ng-click="ctrl.goto('Dashboard')">Home</a></li>
        <li><i class="fa-file-text-o"></i> <a href="" ng-click="ctrl.goto('AllPolicies')">Monitor Tableau Detail</a></li>
        <li class="active"><i class="fa-list"></i> Monitor Tableau Detail </li>
    </ol>


    <div class="h10"></div>
    
    <div class="row">
        <div class="col-sm-3">
                <h4>Detail</h4>
        </div>
        <div class="col-sm-9 text-right">
            <button class="btn btn-primary" ng-click="ctrl.goto('MonitorTableau')">Back</button>
        </div>
    </div>
    <div id="searchresult" class="scroll-x">
        <table id="DataTableList" class="table table-bordered product-list sorting">
               
             
            <thead>
                <tr>
                    <th algin="center">No.</th>
                    <!-- <th align="center">ID</th> -->
                    <th>
                        <a ng-click="ctrl.sort_by('Report_Name');">Name
                            <span ng-show="ctrl.criteria.sortingOrder == 'Report_Name'">
                                <span ng-show="ctrl.criteria.reverse=='asc'"> <i class="fas fa-sort-down"></i></span>
                                <span ng-show="ctrl.criteria.reverse=='desc'"> <i class="fas fa-sort-up"></i></span>
                            </span>
                            <span ng-show="ctrl.criteria.sortingOrder != 'Report_Name'">
                                <span> <i class="fa fa-sort"></i></span>
                            </span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="ctrl.sort_by('ProcessDate');">Process Date/Time
                            <span ng-show="ctrl.criteria.sortingOrder == 'ProcessDate'">
                                <span ng-show="ctrl.criteria.reverse=='asc'"> <i class="fas fa-sort-down"></i></span>
                                <span ng-show="ctrl.criteria.reverse=='desc'"> <i class="fas fa-sort-up"></i></span>
                            </span>
                            <span ng-show="ctrl.criteria.sortingOrder != 'ProcessDate'">
                                <span> <i class="fa fa-sort"></i></span>
                            </span>
                        </a>
                    </th>
                    <th>
                            <a ng-click="ctrl.sort_by('Finished_Date');">Finished Date/Time
                                    <span ng-show="ctrl.criteria.sortingOrder == 'Finished_Date'">
                                        <span ng-show="ctrl.criteria.reverse=='asc'"> <i class="fas fa-sort-down"></i></span>
                                        <span ng-show="ctrl.criteria.reverse=='desc'"> <i class="fas fa-sort-up"></i></span>
                                    </span>
                                    <span ng-show="ctrl.criteria.sortingOrder != 'Finished_Date'">
                                        <span> <i class="fa fa-sort"></i></span>
                                    </span>
                             </a>
                    </th>
                    <th>
                            <a ng-click="ctrl.sort_by('Status');">Current Status
                                    <span ng-show="ctrl.criteria.sortingOrder == 'Status'">
                                        <span ng-show="ctrl.criteria.reverse=='asc'"> <i class="fas fa-sort-down"></i></span>
                                        <span ng-show="ctrl.criteria.reverse=='desc'"> <i class="fas fa-sort-up"></i></span>
                                    </span>
                                    <span ng-show="ctrl.criteria.sortingOrder != 'Status'">
                                        <span> <i class="fa fa-sort"></i></span>
                                    </span>
                             </a>
                    </th>	
                    <th>Message</th>
                    <th>Re-Process</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="ctrl.reportQueues.length == 0">
                    <td colspan="7">No data found</td>
                </tr>
                <tr ng-repeat="(index,item) in ctrl.reportQueues">
                        <td align="center">{{index+1}}</td>
                        <!-- <td align="center">{{item.id}}</td> -->
                        <td>{{item.report_Name}}</td>
                        <td>
                     
                            <div ng-if="item.processDate!='0001-01-01T00:00:00'">
                             {{item.processDate | date:'d MMM yyyy HH:mm'}}
                            </div>
                         </td>
                         <td>
                             <div ng-if="item.finished_Date!='0001-01-01T00:00:00'">
                                 {{item.finished_Date | date:'d MMM yyyy HH:mm'}}
                             </div>
                             
                         </td>	
                       <td>{{item.status}}</td>	
                       <td>{{item.messageLog}}</td>	
                       <td>
                            <button class="btn btn-success" ng-click="ctrl.reprocess(item)" ng-if="item.status=='Tableau Failed'|| item.status=='Tableau Success'">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                            
                                <button class="btn btn-success" ng-If="item.status!='Tableau Failed'&& item.status!='Tableau Success'" disabled>
                                <i class="fas fa-sync-alt"></i>
                                </button>
                       </td>
                       <!-- <td><i class="fas fa-sync-alt"></i></td> -->
                </tr>
                
            </tbody>
        </table>
    </div>

    <ul class="records-info records-info-bottom">
        <li> </li> <a class="bt-prev" href="" ng-click="ctrl.previousPage()"><i class="fa-caret-left"></i></a> <input
            type="text" size="3" ng-model="ctrl.criteria.pageNumber" disabled="">
        <a href="" class="bt-next" ng-click="ctrl.nextPage()"><i class="fa-caret-right"></i></a> From {{ctrl.totalPage}}
        pages
        <li> &nbsp; <strong>|</strong> &nbsp; </li>
        <li> Item per page
            <select class="show-rec-no" ng-model="ctrl.criteria.pageSize" ng-change="ctrl.changePageSize()"
                ng-options="x for x in ctrl.pageSizes">
            </select> Rows </li>
        <li> &nbsp; <strong>|</strong> &nbsp; </li>
        <li>All <strong>{{ctrl.criteria.total}}</strong> items</li>
    </ul>
    
    <div class="tool-bottom col-xs-12" ng-show="ctrl.canEdit">
        <ul>
            <li><button class="bt-clear" ng-show="ctrl.showDelete" ng-click="ctrl.deletePolicies()" id="bt-clear"><i
                        class="fa-trash"></i> Delete </button></li>
        </ul>
    </div>
    <script type="text/ng-template" id="confirm-delete.html">

        <div class="modal-body" id="modal-body-editor">
            หากต้องการลบ กรุณายืนยันอีกครั้ง
        </div>
        <div class="modal-footer">
            <button class="bt-confirm" ng-click="submit()" type="button">OK</button>
            <button class="" ng-click="close()" type="button">Cancel</button>
        </div>
    </script>
</div>
<!--main-content-->