<!-- <div class="row">
  <div class="col-12 col-md-8 d-flex">
    <div class="box-topic">About SM <strong class="active"> > SM Governance Mechanism </strong></div>
  </div>

</div>
<div class="cleaner h30"></div>
<div class="row justify-content-center">
  <div class="col-12 font-subtopic">
    <img src="assets/images/icon-topic-color.png">
    เพื่อให้มั่นใจว่าทิศทางและวัตถุประสงค์เชิงกลยุทธ์ด้านความยั่งยืนจึงได้กำหนดกลไกการกำกับดูแลไว้ ดังนี้
  </div>
</div>
<div class="cleaner h30"></div>
<div class="row box-governance">
  <div class="col-12 text-center" [hidden]="!loading">
    <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true"></i>
  </div>
  <div class="col-12 col-md-6 my-2" *ngFor="let item of data;let i = index" [hidden]="loading">
    <div class="row mx-0 box-{{ i % 2 === 0 ? 'green' : 'blue'}}">
      <div class="h10"></div>
      <div class="col-11 d-flex align-items-center font-subtopic font-weight-bold">
        {{ item.title }}
      </div>
      <div class="col-1 py-2 px-0 d-flex align-items-center">
        <a><i class="fas fa-ellipsis-v font-gray"></i></a>
      </div>
      <div class="col-12">
        <div class="line-1"></div>
      </div>
      <div class="h10"></div>

      <div class="col-12 text-governance box-scrollbar" [innerHTML]="item.content | safeHtml">

      </div>

    </div>
  </div>


</div> -->
<div class="row ">
  <div class="col-12 col-md-12 d-flex ">
    <div class="box-topic">About SM <strong class="active"> > {{data.title}} </strong></div>
  </div>
</div>
<div class="cleaner h30"></div>
<div class="row box-article  font-subtopic">
  <div class="col-12 text-center" [hidden]="!loading">
    <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true"></i>
  </div>
</div>
<div [innerHTML]="data.content | safeHtml"></div>