<div class="row justify-content-md-center">
  <div class="col-sm-9 col col-lg-7">
    <div class="bg-login">
      <form name="form" #f="ngForm" novalidate autocomplete="off">
        <div class="logo-login logo-forgotpassword"><img src="assets/images/logo-menu.png"></div>

        <div class="form-login form-login-forgotpassword form-register">
          <div class="row justify-content-center" *ngIf="!sendSuccess">

            <div class="col-12 col-sm-8 col col-lg-8">
              <div class="text-center">
                <div class="title-form">
                  Forgot Password
                </div>
              </div>
              <div class="cleaner h20"></div>
              <div class="form-group" [ngClass]="username.invalid && (username.dirty || username.touched || submited) ? 'has-feedback has-error' : ''">
                <img src="assets/images/icon-mail.png" class="icon-regis">
                <input type="email" placeholder="Email" [(ngModel)]="data.Username" name="username" id="username"
                  #username="ngModel" email required>

              </div>
              <div *ngIf="username.invalid && (username.dirty || username.touched || submited)">
                  <div class="triangle-up"></div>
                  <div *ngIf="username.errors.required" class="errors">
                    *Required field.
                  </div>
                  <div *ngIf="username.errors.email" class="errors">
                    *Email address is not a valid.
                  </div>
                </div>
            </div>
            <div class="cleaner"> </div>

            <div class="col-12 col-sm-8 col col-lg-8">
              <div class="row">
                <div class="col-6 col-sm-6 col col-lg-6">
                  <button type="button" [routerLink]="['/public/login']" class="btn btn-reset"> Back</button>
                </div>
                <div class="col-6 col-sm-6 col col-lg-6">
                    <div class="btn btn-submit" (click)="onSubmit(f.form)">
                      <img src="assets/images/icon-send.png" class="img-fluid" [hidden]="loading">
                      <span [hidden]="!loading"><i class="fa fa-xs fa-spinner fa-spin"
                          aria-hidden="true"></i>&nbsp;</span> Send
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center" *ngIf="sendSuccess">
            <div class="title-form">
              Please check your E-Mail for reset password.
            </div>
            <div class="col-12 text-center">
              <button type="button" class="btn btn-submit col-6" [routerLink]="['/public/login']">
                Login
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="h30"></div>
    </div>
    <div class="cleaner"></div>
  </div>
</div>
