.error{
    position: absolute;
    text-align: right;
    top: 5px;
    right: 53px;
    color: red;
    font-size: smaller;
}

@media only screen and (max-width: 767px) {
    .error{
        top: 14px;
        right: 43px;
    }
  }