<div class="col-6 col-sm-3">
  <img src="assets/images/login-left.png" class="img-fluid">
</div>
<div class="all-login">
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-sm-9 col col-lg-5">
        <div class="bg-login">

          <form name="form" (ngSubmit)="onSubmit(f.form)" #f="ngForm" novalidate autocomplete="off">
            <div class="logo-login"><img src="assets/images/logo-menu.png"></div>
            <div class="title-form" *ngIf="loading">
              <span>
                <i class=" fa fa-spinner fa-spin" aria-hidden="true"></i>
                Checking Expiration.
              </span>
            </div>
            <ng-container *ngIf="!loading && reseted">
              <h3 class="mt-5" style="color: white">
                The activation link is expired or have already been used, please go to website and click on reset
                password menu.
              </h3>
              <div class="col-12 mt-3 text-center">
                <button type="button" class="btn btn-submit col-6" [routerLink]="['/public/login']">
                  Go to website
                </button>
              </div>
            </ng-container>
            <ng-container *ngIf="!loading && !reseted">
              <div class="title-form"> Reset Password</div>
              <div class="form-register">
                <div class="row">

                  <div class="col-12 " *ngIf="!resetSuccess">
                    <div class="form-group">
                      <img src="assets/images/icon-key.png" class="icon-regis">
                      <input type="password" autocomplete="off" placeholder="Password" [(ngModel)]="data.Password" name="password"
                        id="password" #password="ngModel" required>
                      <div *ngIf="password.invalid && (password.dirty || password.touched || submited)"
                        class="error white">
                        <div *ngIf="password.errors.required">
                          * Password is required.
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="col-12" *ngIf="!resetSuccess">
                    <div class="form-group">
                      <img src="assets/images/icon-key.png" class="icon-regis">
                      <input type="password" autocomplete="off" placeholder="Confirm Password" [(ngModel)]="data.NewPassword"
                        name="newPassword" id="newPassword" #newPassword="ngModel" required>
                      <div
                        *ngIf="data.NewPassword !== data.Password && (newPassword.dirty || newPassword.touched || submited)"
                        class="error white">
                        * Password is not match.
                      </div>
                    </div>

                  </div>

                  <div class="cleaner"></div>
                  <div class="col-12">
                    <div class="text-condition" *ngIf="resetSuccess">
                      * Reset password successfully.
                    </div>
                  </div>
                  <div class="col-12" *ngIf="!resetSuccess">
                    <button [disabled]="reset" type="submit" class="btn btn-submit">
                      <img src="assets/images/icon-send.png" class="img-fluid" [hidden]="reset">
                      <span [hidden]="!reset"><i class="fa fa-xs fa-spinner fa-spin" aria-hidden="true"></i></span>
                      Reset Password</button>
                  </div>
                  <div class="col-12 text-center" *ngIf="resetSuccess">
                    <button type="button" class="btn btn-submit" [routerLink]="['/public/login']">
                      Login
                    </button>
                  </div>

                </div>

              </div>
            </ng-container>


          </form>
          <div class="h30"></div>
        </div>
      </div>
    </div>
  </div>
</div>