.error{
    position: absolute;
    text-align: right;
    top: 5px;
    right: 53px;
    color: red;
    font-size: smaller;
}
.errors{
  margin-top: -7px;
  margin-bottom:13px;
  color: white;
  font-size: 1rem;
  width:100%;
  background:red;
  border-radius: 20px;
  padding:0px;
  text-align: center;
}
.triangle-up {
	width: 0;
  height: 0;
  margin:auto;
  margin-top: -18px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 15px solid red;
}

@media only screen and (max-width: 767px) {
    .error{
        top: 14px;
        right: 43px;
    }
    .errors{
      margin-top:-3px;

    }
  }
