<ng-container *ngIf="!winAuth">

  <div class="box-topic"><span class="active"> Change Password </span></div>
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8 d-flex align-items-center">

    </div>

  </div>
  <div class="cleaner"></div>
  <div class="row">
    <div class="col-sm-9 col col-lg-5">
      <div class="bg-login">
        <form name="form" (ngSubmit)="onSubmit(f.form)" #f="ngForm" novalidate autocomplete="off">
          <div class="title-form"> Change Password</div>
          <div class="form-register">
            <div class="row">

              <div class="col-12 " *ngIf="!resetSuccess">
                <div class="form-group">
                  <img src="assets/images/icon-key.png" class="icon-regis">
                  <input type="password" placeholder="New Password" [(ngModel)]="data.Password" name="password"
                    id="password" #password="ngModel" required>

                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched || submited)">
                  <div class="triangle-up"></div>
                  <div *ngIf="password.errors.required" class="errors">
                    * Password is required.
                  </div>
                </div>
              </div>

              <div class="col-12" *ngIf="!resetSuccess">
                <div class="form-group">
                  <img src="assets/images/icon-key.png" class="icon-regis">
                  <input type="password" placeholder="Confirm Password" [(ngModel)]="data.NewPassword"
                    name="newPassword" id="newPassword" #newPassword="ngModel" required>

                </div>
                <div
                  *ngIf="data.NewPassword !== data.Password && (newPassword.dirty || newPassword.touched || submited)">
                  <div class="triangle-up"></div>
                  <div class="errors">* Password is not match.</div>
                </div>
              </div>

              <div class="cleaner"></div>

              <div class="col-12">
                <button [disabled]="reset" type="submit" class="btn btn-submit">
                  <span [hidden]="!changing"><i class="fa fa-xs fa-spinner fa-spin" aria-hidden="true"></i></span>
                  Change Password</button>
              </div>

            </div>

          </div>
        </form>
        <div class="h30"></div>
      </div>
    </div>
  </div>
  
</ng-container>